<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_ProductTabs::group"
             title="Product Tabs"
             module="Panth_ProductTabs"
             sortOrder="40"
             parent="Panth_Core::panth_extensions"
             resource="Panth_ProductTabs::config"/>
        <add id="Panth_ProductTabs::settings"
             title="Configuration"
             module="Panth_ProductTabs"
             sortOrder="10"
             parent="Panth_ProductTabs::group"
             action="adminhtml/system_config/edit/section/panth_producttabs"
             resource="Panth_ProductTabs::config"/>
    </menu>
</config>
